/*.container{
    border: 2px dashed rgb(255, 217, 1);
}

.container-fluid{
    border: 2px dashed rgb(0, 255, 21);
}*/

.bg-black{
    background-color: black;
}

.bg-orange{
    background-color: orange;
}

.text-white{
    color: white;
}

.text-gray{
    color: gray;
}

.font-700{
    font-weight: 700;
}

.btn-orange{
    width: auto;
    color: white;
    background-color: orangered;
}

.font-size{
    font-size: 50px;
}

/***Header***/

/*logo Sony*/
#sony-logo{
    width: auto;
}
/*Navbar*/
header{
    z-index: 1;
}

.border-select{
    border: none;
  }

a{
    color: black;
    text-decoration: none;
}

header ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
}

#navbar-bottom-right > *{
    margin: 0 5px;
}

#navbar-bottom-right .fa-search{
    transform: translateY(5px);
}

/****Jumbotron****/
main{
    padding-top: 120px;
}

#jumbotron-top{
    padding-top: 300px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
    height: 720px;
}

#jumbotron-top img{
    width: 450px;
}

#jumbotron-down img,{
    border-radius: 15px;
}

/*PLAYSTATION 5*/
#playstation-5 div .active-bottom::after{
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: blue;
    margin: 50px auto;
}

.opacity{
    opacity: 0.7;
}

.opacity:hover{
    opacity: 1;
}

/*IT TAKES TWO*/
#takes-two{
    padding: 50px 0;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: top;
}

/*NEW GAMES*/
#new-games img{
    border-radius: 30px;
}
/*PLAYSTATION PLUS*/
#playstation-plus{
    background-color: rgb(175, 175, 246);
}

/*PLAYSTATION NOW*/
#playstation-now{
    background-color: rgb(16, 16, 70);
}

/*FOOTER*/

footer img{
    width: 100px;
    height: 100px;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin: 5px 0;
}

footer ul a{
    color: white;
}

footer ul a:hover{
    color: white;
    text-decoration: underline;
}

#copyright{
    color: white;
    text-decoration: underline;
}


.img-animation:hover{
    box-shadow: 0px 45px 20px -30px rgba( 0,0,0,0.2);
    animation: up 0.5s infinite 0.4s;
}
@keyframes up {
    0%, 100%{
       transform:translatey(0px);
    }
    50%{
       transform:translatey(-10px);
    }
}

.btn-prova{
    margin: 7px;
    transition: transform 1s;
}
.btn-prova:hover{
    transform: scale(1.3);
}

#animazione{
    position: relative;
}

.image {
    display: block;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 3s ease;
    background-color: #000000;
}
  
.container:hover .overlay {
    opacity: 1;
}

/*PAGINA MY PLAYSTATION*/

#account-name{
    background-image: url(../img/wallpaper.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
}

/*PLAYSTATION 4*/
#jumbotron-top-playstation4{
    padding-top: 100px;
    background-image: url(../img/5d0b90f99a3aa5dd0e6fe82348540f83.jpg);
    background-size: cover;
    background-position: top;
    height: 720px;
  }